<section id="map">
  @if (isDisplayable) {
    @if(!debug){
      @if (places$ | async; as places) {
        <div class="row row-cols-1 row-cols-md-2 g-4">
          @for (regionMarkerList of places; track regionMarkerList.name){
            @for(subregionsMarkerList of regionMarkerList.subregions; track subregionsMarkerList.name){
              <section class="col">
                <h3>{{ subregionsMarkerList.name }}</h3>
                <div class="worldMap"
                [attr.world]="subregionsMarkerList.id"
                [style]="getMapStyle(subregionsMarkerList)" >
                  @for(marker of subregionsMarkerList.markers; track marker){
                    <span class="marker" [style]="getMarkerStyle(marker, subregionsMarkerList)" [attr.data-title-debug]="marker.name"></span>
                  }
                </div>
              </section>
            }
          }
        </div>
      } @else {
        chargement de la carte ...
      }
    } @else {
      <!-- DEBUG MODE -->
      <h2 style="font-size:40px;margin-bottom:45px;">DEBUG MODE</h2>
        @if (oldPlaces$ | async; as oldPlaces) {
          {{ oldPlaces | json }}
          <h3 style="font-size:20px;font-weight:700;margin:15px 0;">Matrix map</h3>
          <section class="mapWrapper mapWrapper">
            @for (regionMarkerList of oldPlaces; track regionMarkerList.name){
              <h2>{{ regionMarkerList.name }}</h2>
              @for (subregionsMarkerList of regionMarkerList.subregions; track subregionsMarkerList.name){
                <section>
                  <table class="worldMap worldMap--matrix" [attr.world]="subregionsMarkerList.id">
                    @for (currentRow of getSize(subregionsMarkerList.size[1]); track "row_" + currentRow) {
                      <tr>
                        @for (currentCol of getSize(subregionsMarkerList.size[0]); track "col_" + currentCol) {
                          <td>
                            <span style="color:black;font-size:8px;">{{ currentCol + ' - ' + currentRow }}</span>
                            @if (checkTile$(currentCol, currentRow, subregionsMarkerList)) {
                              <app-tile-map />
                            }
                          </td>
                        }
                      </tr>
                    }
                  </table>
                </section>
              }
            }
          </section>
        }

        @if (places$ | async; as places) {
          <h3 style="font-size:20px;font-weight:700;margin:15px 0;">Map with marker positions</h3>
          <div class="mapWrapper">
            @for (regionMarkerList of places; track regionMarkerList.name){
              <section>
                <h2>{{ regionMarkerList.name }}</h2>
                @for(subregionsMarkerList of regionMarkerList.subregions; track subregionsMarkerList.name){
                  <div class="worldMap"
                    [attr.world]="subregionsMarkerList.id"
                    [style]="getMapStyle(subregionsMarkerList)" >
                      @for(marker of subregionsMarkerList.markers; track marker){
                        <span class="marker" [style]="getMarkerStyle(marker, subregionsMarkerList)" [attr.data-title-debug]="marker.name"></span>
                      }
                  </div>
                }
              </section>
            }
          </div>
        } @else { loading... }

      <h3 style="font-size:20px;font-weight:700;margin:15px 0;">Coordinates in percentages</h3>
      @if (allPlaces) {
        @for (region of allPlaces; track region.name){
          <h4 style="font-size:25px;margin-bottom:5px;">{{ region.name }}</h4>
          @for(subregions of region.subregions; track subregions.name){
            <p style="margin-bottom:15px;">Aspect ratio: {{ subregions.size[0] }}x{{ subregions.size[1] }}</p>
            <code>{{ transformMatrixToRelativeCoordinates(subregions) | json }}</code><br><br>
          }
        }
      }

    }
  }
  @else {
    <p>Carte non disponible pour le moment pour cette génération</p>
  }
</section>

