@if (isDisplayableMap(pokemonGeneration)) {
  @if (places$ | async; as places) {
    <div class="mapWrapper">
      @for (regionMarkerList of places; track regionMarkerList.name){
        <div class="worldMap"
          [attr.world]="getWorldMapClass(regionMarkerList.name,pokemonGeneration)"
          [style]="getMapStyle(regionMarkerList)" >
            @for(marker of regionMarkerList.markers; track marker){
              <span class="marker" style.left='{{ marker.coordinates[0]}}%' style.top='{{ marker.coordinates[1]}}%'><!--{{ marker.name }}--></span>
            }
        </div>
      }
    </div>
  } @else {
    chargement de la carte ...
  }
} @else {
  <p>Carte non disponible pour le moment pour cette génération</p>
}
