<section id="pokedexList">
  <h1>Liste des poxédexs issus de la franchise originale</h1>
  <div class="container" *ngIf="pokedexList">
    @for(pokedexEntry of pokedexList; track pokedexEntry.label){
      @if (pokedexEntry.pokedexVariants.length == 1){
      <div class="pokedexEntry">
        <div (click)="goToDex(pokedexEntry.pokedexVariants[0].pokedexId);">
          <span class="badge"></span>
          {{ pokedexEntry.label | uppercase }}
        </div>
      </div>
      }
      @else {
        <div class="pokedexEntry pokedexEntryCategory">
          <div>
            <span class="badge"></span>
            {{ pokedexEntry.label }}
          </div>
        </div>
        @for (dexVariant of pokedexEntry.pokedexVariants; track dexVariant.pokedexId) {
          <div class="pokedexEntry">
            <div (click)="goToDex(dexVariant.pokedexId)">
              <span class="badge"></span>
              {{ dexVariant.pokedexVariantName | uppercase }}
            </div>
          </div>
        }
      }
    }
  </div>
</section>
