<section id="pokedexList">
  <h1>Liste des poxédexs issus de la franchise originale</h1>
  <div class="container" *ngIf="pokedexList" (keydown)="onKeyDown($event)">
    @for(pokedexEntry of pokedexList; track pokedexEntry.pokedexVariants[0].pokedexId;){
      @if (pokedexEntry.pokedexVariants.length == 1){
      <!--<div class="pokedexEntry">-->
        <div class="pokedexEntry" tabIndex="{{ pokedexEntry.pokedexVariants[0].pokedexId }}"
          (click)="goToDex(pokedexEntry.pokedexVariants[0].pokedexId);">
          <span class="badge"></span>
          {{ pokedexEntry.label | uppercase }}
        </div>
      <!--</div>-->
      }
      @else {
        <label for="cb-{{ $index }}"
          tabIndex="{{ pokedexEntry.pokedexVariants[0].pokedexId }}"
          class="pokedexEntry pokedexEntryCategory"
        >
          <span class="badge"></span>
          {{ pokedexEntry.label | uppercase }}
        </label>
        <input type="checkbox" id="cb-{{ $index }}" class="dropDownCB">
        <div class="dropDownWrapper">
          @for (dexVariant of pokedexEntry.pokedexVariants; track dexVariant.pokedexId;) {
            <div class="pokedexEntry child"
              tabIndex="{{ dexVariant.pokedexId }}"
              (click)="goToDex(dexVariant.pokedexId)"
            >
              <span class="badge"></span>
              {{ dexVariant.pokedexVariantName | uppercase }}
            </div>
          }
        </div>
      }
    }
  </div>
</section>
