#pokedexList{
  --dex-entry-bg: #eebe2e;
  --dex-entry-border-illuminated: #f0e277;
  --dex-entry-border-shadded: #ca942d;
  --dex-entry-bg-badge: #6a50d5;
  --dex-entry-bg-badge-shadded: #624381;

  --dex-entry-hovered-bg: #afa578;
  --dex-entry-hovered-border-illuminated: #cfd1af;
  --dex-entry-hovered-border-shadded: #7b7a55;
  --dex-entry-hovered-bg-badge: #f2f6ee;
  --dex-entry-hovered-bg-badge-shadded: #99937d;

  min-height: calc(100vh - 6rem);
  background: url('../../../public/assets/img/bg.png') #f4f8f6 repeat;

  .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-top: 1.5rem;
  }
  .pokedexEntry{
    font-family: "Pokemon-rs";
    display: flex;
    margin-top: -1px;
    display: flex;
    font-size: 2rem;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
    line-height: 1.3;
    padding: 0 1.5rem;
    border-top: 1px solid var(--dex-entry-border-illuminated);
    border-right: 1px solid var(--dex-entry-border-illuminated);
    border-bottom: 1px solid var(--dex-entry-border-shadded);
    border-left: none;
    background-color: var(--dex-entry-bg);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FFF;
    text-shadow: 1px 1px 2px #000000;
    &.child{
      padding-left: 3rem;
    }
    .badge{
      flex-shrink: 0;
      display: inline-block;
      background-color: var(--dex-entry-bg-badge);
      border-top: 1px solid var(--dex-entry-bg-badge-shadded);
      border-left: 1px solid var(--dex-entry-bg-badge-shadded);
      width: 10px;
      height: 15px;
    }
    &:hover,
    &:focus{
      border-top: 1px solid var(--dex-entry-hovered-border-illuminated);
      border-right: 1px solid var(--dex-entry-hovered-border-illuminated);
      border-bottom: 1px solid var(--dex-entry-hovered-border-shadded);
      background-color: var(--dex-entry-hovered-bg);
      .badge{
        background-color: var(--dex-entry-hovered-bg-badge);
        border-top: 1px solid var(--dex-entry-hovered-bg-badge-shadded);
        border-left: 1px solid var(--dex-entry-hovered-bg-badge-shadded);
      }
    }
  }

  .dropDownWrapper{
    &,
    &.collapsed{
      display: none;
    }
  }

  .dropDownCB {
    display: none;
    &:checked + .dropDownWrapper{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      .pokedexEntry{
        div{
          padding-left: 5rem;
        }
      }
    }
  }
}


