.pokemon-tile{
  background-color: rgb(243, 243, 243);
  border: 0.1rem solid rgb(226, 226, 226);
  border-radius: 0.5rem;
  width: 10rem;
}

.name {
  display: flex;
  justify-content: center;
  padding: 1rem;
}