@use "../../../../../core/css/helpers/include-media" as *;

.pokemon-tile {
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: rgb(243, 243, 243);
  border: 0.1rem solid rgb(226, 226, 226);
  border-radius: 0.5rem;
  padding: 1.2rem;

  img {
    width: 100px;
    height: 100px;
  }

  .inner{
    background-image: url('/assets/img/placeholder.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
  }

  .name {
    font-family: Orbitron, sans-serif;
    font-size: 1.1rem;
  }

  @include media(">=tablet") {
    width: 12rem;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    .name {
      font-size: 1.2rem;
    }
  }
}
