@use "../../css/config/breakpoints" as *;
@use "../../css/helpers/include-media" as *;

#header {
  background-color: rgb(228, 228, 228);
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
  z-index: 2;
  .inner{
    --bs-gutter-x: 48px;
  }

  #search{
    @include media(">=tablet") {
      max-width: 150px;
    }
  }
}
