#pokedexList{
  min-height: calc(100vh - 6rem);
  background: url('../../../../public/assets/img/bg.png') #f4f8f6 repeat;

  .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-top: 1.5rem;
  }
}


