// Game themes

$version-group-colors: (
  // 1st gen
  'red-blue': "linear-gradient(135deg,rgba(136, 14, 1, 1) 0%, rgba(0, 74, 149, 1) 100%)",
  'red': "#880e01",
  'blue': "#004a95",
  'yellow': "#dfb547",
  'red-japan': "#880e01",
  'blue-japan': "#004a95",
  'green': "#009a3a",
  'green-japan': "#009a3a",
  'red-green-japan': "linear-gradient(135deg,rgba(136, 14, 1, 1) 0%, rgba(0, 154, 58, 1) 100%)",
  // 2nd gen
  'gold': "#a6935b",
  'silver': "#66737b",
  'crystal': "#6a72b1",
  'gold-silver': "linear-gradient(135deg,rgba(166, 147, 91, 1) 0%, rgba(102, 115, 123, 1) 100%)",
  // 3rd gen
  'ruby': "#ba2a2e",
  'sapphire': "#255e98",
  'emerald': "#06a02d",
  'ruby-sapphire': "linear-gradient(135deg,rgba(186, 42, 46, 1) 0%, rgba(37, 94, 152, 1) 100%)",
  'firered': "#ed5027",
  'leafgreen': "#c3d861",
  'firered-leafgreen': "linear-gradient(135deg,rgba(237, 80, 39, 1) 0%, rgba(195, 216, 97, 1) 100%)",
  // 4th gen
  'diamond': "#5f96ca",
  'pearl': "#c983c2",
  'platinum': "#363543",
  'diamond-pearl': "linear-gradient(135deg,rgba(95, 150, 202, 1) 0%, rgba(201, 131, 194, 1) 100%)",
  'heartgold': "#fcd229",
  'soulsilver': "#7a8693",
  'heartgold-soulsilver': "linear-gradient(135deg,rgba(252, 210, 41, 1) 0%, rgba(122, 134, 147, 1) 100%)"

  // NEXT GAMES COMMING SOON...
);


$colorTypes: (
  'bug': #92a212,
  'dark': #4e3f3c,
  'dragon': #4f60e2,
  'electric': #fac100,
  'fairy': #ef70ef,
  'fighting': #ff8100,
  'fire': #e72324,
  'flying': #82baef,
  'ghost': #703f70,
  'grass': #3da224,
  'ground': #92501b,
  'ice': #3dd9ff,
  'normal': #a0a2a0,
  'poison': #923fcc,
  'psychic': #ef3f7a,
  'rock': #b0aa82,
  'steel': #60a2b9,
  'water': #2481ef
);


$color-tokens: (
  'version-group-color': $version-group-colors,
  'types-color': $colorTypes
);
