@use "sass:map";
@use "colors" as color-tokens;

// @debug map.get($color-tokens, 'version-group-color');

@each $version, $hexaVal in map.get($color-tokens, 'version-group-color'){
  @debug $version, $hexaVal;
  .nav-tabs .nav-link.theme-#{$version}{
    &.active{
      text-shadow: 1px 1px 2px #000;
    }
    @if (str-index($hexaVal, 'linear-gradient')) {
      &.active{
        background: #{$hexaVal}
      }
    } @else {
      --bs-nav-tabs-link-active-bg: #{$hexaVal};
    }
    --bs-nav-tabs-link-active-color: #FFF;
  }
}

