.tile {
  width: 100%;
  height: 100%;
  position: relative;
  &:before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/maps/map-marker-default.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
