<audio class="pokemonCry" autoplay #audioPlayer>
  @if (monsterDetails$ | async; as monsterDetails) {
    <source
      [src]="monsterDetails.cries.latest || monsterDetails.cries.legacy"
    />
  }
</audio>
<section>
  @if (monsterDetails$ | async; as monsterDetails) {
    <h1>{{ monsterDetails.name }}</h1>
    <img [src]="pokemonSelectedSprite" />

    @if (monsterDetails.stats) {
      Stats:
      @for (statGroup of monsterDetails.stats; track statGroup.stat.name) {
        <div>
          <p>{{ statGroup.stat.name }} : {{ statGroup.base_stat }}</p>
          <progress
            [id]="'stat_' + statGroup.stat.name"
            max="255"
            [value]="statGroup.base_stat"
          ></progress>
        </div>
      }
    }

    <app-world-map [pokemonGeneration]="idPokeGen" [pokemonId]="idMonster" />
    @if(pokemonFlattenedEncountersList$ | async; as flattenedPokemonEncountersList){
      {{ flattenedPokemonEncountersList | json }}


      <table class="encounters">
        <tr>
          <th style="width:200px;">Lieu</th>
          <th style="width:100px;">Version</th>
          <th>Méthode</th>
          <th>Niv.</th>
          <th>Chance</th>
          <th>Conditions</th>
        </tr>

        <tr *ngFor="let row of flattenedPokemonEncountersList">
          <td *ngIf="!row.zone.hidden"
              [attr.rowspan]="row.zone.rowspan">
            {{ row.zone.value }}
          </td>

          <td *ngIf="!row.version.hidden"
              [attr.rowspan]="row.version.rowspan"
              class="game">
            <span class="badge bg-{{row.version.value}}">
              {{ row.version.value | uppercase }}
            </span>
          </td>

          <td>{{ row.method.value }}</td>
          <td>
            {{ row.level.min_level }}
            @if( row.level.min_level != row.level.max_level ){
              -{{ row.level.max_level }}
            }
          </td>
          <td>{{ row.chance.value }}</td>
          <td class="d-flex">
            @for(condition of row.condition_values; track condition.name){
              <div class="flex-grow-1">{{ condition.name}}</div>
            }
          </td>
        </tr>
      </table>




    }@else {
      <p>Chargement...</p>
    }

  }
</section>
