@use "sass:map";

@use '../../../core/css/lib/base' as *;
@use '../../../core/css/config/colors' as colors;
@use '../../../core/css/components/badges.scss' as *;
@use '../../../core/css/components/sprites.scss' as *;
@use '../../../core/css/lib/functions.scss' as *;

@use '../../../core/css/config/breakpoints' as *;
@use "../../../core/css/helpers/include-media" as *;

.monster-page{
  &-body{
    --bs-gutter-x: 48px;
  }
  header{
    .header-inner{
      position: relative;
      .title{
        font-family: 'RussoOne', serif;
        text-shadow: 2px 2px 0px #000;
        color: #FFF;
      }
    }

    --type-slot-1: #eeeeee;
    font-size: 1em;
    color: #000;
    background: linear-gradient(0deg, var(--type-slot-1) 0%, var(--type-slot-2, var(--type-slot-1)) 100%);
    text-align: center;

    @for $index-type from 1 through 2{
      @each $type, $hexa in map.get(colors.$color-tokens, 'types-color'){
        &.type-#{$index-type}-#{$type}{
          --type-slot-#{$index-type}: #{$hexa};
        }
      }
    }
    .medalion{
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
      border: 4px solid grey;
      background: #FFF;
      img{
        width: 100%;
        height: auto;
        image-rendering: pixelated;
      }
    }

    .types{
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      padding-right: 32px;
      img{
        height: 32px;
      }
    }
  }
}

.description{
  ul button{
    --bs-nav-tabs-border-radius: 0;
    border: var(--bs-border-width) solid var(--bs-border-color);
  }
}

.encounters{
  width: 100%;

  &, thead, tbody, tr, td, th{
    display: block;
  }

  thead{
    display: none;
  }

  tr{
    border: 1px solid #000;
    --bs-border-width: 0;
  }

  td{
    --td-label-offset: 50%;
    &:not(:last-child){
      border-bottom: 1px solid #000;
    }
    padding-left: var(--td-label-offset);
    position: relative;

    &:before{
      position: absolute;
      content: attr(data-label);
      top: 0;
      bottom: 0;
      left: 0;
      width: calc(var(--td-label-offset) - 16px);
      display: flex;
      align-items: center;
      padding: 5px;
      font-weight: 600;
    }

    &.no-label{
      --td-label-offset: 0;
      &:before{
        display: none;
      }
    }

    &[data-label="Zone"]{
      background-color: #000;
      color: #FFF;
      font-size: 1.5rem;
    }
  }
  .game{
    vertical-align: middle;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
  }

  @include media(">=tablet") {
    &, thead, tbody, tr, td, th{
      display: revert-layer;
      vertical-align: middle;
    }

    th{
      background-color: #000;
      color: #FFF;
    }

    tr{
      margin-bottom: 0;
    }

    td{
      --td-label-offset: 0;
      &:before{
        display: none;
      }

      &[data-label="Zone"]{
        background-color: transparent;
        color: #000;
        font-size: 1rem;
      }
    }
  }
}


.borders{
  border: 0.25rem solid #606070;
  outline: 0.25rem solid #283840;
  box-shadow: inset 0px 0px 0px 1rem #FFF;
  border-radius: 0.25em;
}
