<audio class="pokemonCry" autoplay #audioPlayer>
  @if (monsterDetails$ | async; as monsterDetails) {
    <source
      [src]="monsterDetails.cries.latest || monsterDetails.cries.legacy"
    />
  }
</audio>
<section class="monster-page">
  @if (monsterDetails$ | async; as monsterDetails) {
    <header class="{{setTypeClasses(monsterDetails.types)}}">
      <div class="header-inner container-lg d-flex flex-column align-items-start align-items-sm-center py-16 px-32 ">
        <div class="d-flex flex-column flex-lg-row-reverse gap-lg-32 align-items-center">
          <h1 class="fs-1 title text-capitalize">{{ monsterDetails.name }}</h1>
          <div class="medalion">
            <img [src]="pokemonSelectedSprite" />
          </div>
        </div>
        <div class="types d-flex flex-column justify-content-center vertical-align-middle gap-16">
          <img class="type" src="/assets/img/types/{{ monsterDetails.types[0].type.name }}.svg" />
          @if(monsterDetails.types[1] ){
            <img class="type" src="/assets/img/types/{{ monsterDetails.types[1].type.name }}.svg" />
          }
        </div>
      </div>
    </header>

    <main class="container-lg py-32">
      <section class="details pb-32">
        <div class="row gy-4 gx-lg-5 row-cols-1 row-cols-lg-2">
          <div class="col">
            <h2 class="font-russoOne">Description</h2>
            <p class="m-0">
              Magna esse minim in laboris excepteur adipisicing et. Ex culpa eu occaecat mollit pariatur cupidatat veniam cillum dolor esse adipisicing. Eiusmod ullamco veniam sunt reprehenderit eiusmod velit sint. Pariatur reprehenderit aute veniam eiusmod amet nulla sunt mollit ipsum. Sit duis incididunt voluptate cillum qui ad sint dolore labore id quis qui qui. Excepteur dolore proident exercitation elit incididunt velit ipsum do. Enim laboris aliqua non ea incididunt.
              Aute ullamco ad cupidatat id ipsum labore duis exercitation amet. Cupidatat cillum enim laborum fugiat reprehenderit amet ullamco voluptate voluptate laborum amet est enim. Voluptate ex do aute aliquip culpa non non nulla.
            </p>
          </div>
          <div class="col">
            @if (monsterDetails.stats) {
              <h2 class="font-russoOne">Stats</h2>
              <div class="row row-cols-2">
                @for (statGroup of monsterDetails.stats; track statGroup.stat.name) {
                  <div class="col py-8 font-russoOne">{{ statGroup.stat.name }}</div>
                  <div class="col">
                    <ngb-progressbar [showValue]="false" type="info" [value]="statGroup.base_stat" [max]="255">
                      {{ statGroup.base_stat }}
                    </ngb-progressbar>
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </section>

      <app-world-map [pokemonGeneration]="idPokeGen" [pokemonId]="idMonster" />

      @if(pokemonEncountersList$ | async; as pokemonEncountersList){
        @if(pokemonEncountersList.length > 0){
          <table class="encounters">
            <thead>
              <tr>
                <td style="width:200px;">Lieu</td>
                <td style="width:100px;">Versions</td>
                <td>Types de recontres</td>
              </tr>
            </thead>
            <tbody>
              @for (encounter of pokemonEncountersList; track encounter.location_area.name){
                @for (encounterInGame of encounter.version_details; track encounterInGame.version.name){
                  <tr>
                    @if($first){
                      <td [attr.rowspan]="encounter.version_details.length > 0 ? encounter.version_details.length:null">
                        {{ encounter.location_area.name }}
                      </td>
                    }
                    <td class="game">
                      <span class="badge bg-{{encounterInGame.version.name}}">{{ encounterInGame.version.name | uppercase }}</span>
                    </td>
                    <td>
                      <table>
                        <thead>
                          <tr>
                            <td>Méthode:</td>
                            <td>Nv:</td>
                            <td>Chance:</td>
                          </tr>
                        </thead>
                        <tbody>
                          @for(encounter_detail of encounterInGame.encounter_details; track encounter_detail){
                            <tr>
                              <td><span class="sprite-tile" [attr.encounterMethodName]="encounter_detail.method.name"></span>{{ encounter_detail.method.name }}</td>
                              <td>{{ encounter_detail.min_level }}
                                @if( encounter_detail.min_level != encounter_detail.max_level){
                                  -{{ encounter_detail.max_level }}
                                }
                              </td>
                              <td>{{encounter_detail.chance }}%</td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    </td>
                  </tr>
                }
              }
            </tbody>
          </table>
        }
        @else {
          <p>Pas de données disponibles.</p>
        }
      } @else {
        <p>Chargement...</p>
      }

    </main>
  }
</section>
