<app-header />
<audio class="pokemonCry" autoplay #audioPlayer>
  @if (monsterDetails$ | async; as monsterDetails) {
    <source
      [src]="setPokemonCrySource(monsterDetails)"
    />
  }
</audio>
<section class="monster-page">
  @if (monsterDetails$ | async; as monsterDetails) {
    @let renderedTypes = setCurrentGenerationType(this.idPokeGen, monsterDetails.types, monsterDetails.past_types);
    <header class="{{setTypeClasses(renderedTypes)}}">
      <div class="header-inner container-lg d-flex flex-column align-items-start align-items-sm-center py-16 px-24 py-md-32">
        <div class="d-flex flex-column flex-lg-row-reverse gap-lg-32 align-items-center">
          <h1 class="fs-1 title text-capitalize">{{ monsterDetails.name }}</h1>
          <div class="medalion">
            <img [src]="pokemonSelectedSprite" />
          </div>
        </div>
        <div class="types d-flex flex-column justify-content-center vertical-align-middle gap-16">
          <img class="type" src="/assets/img/types/{{ renderedTypes[0].type.name }}.svg" />
          @if(renderedTypes[1] ){
            <img class="type" src="/assets/img/types/{{ renderedTypes[1].type.name }}.svg" />
          }
        </div>
      </div>
    </header>

    <main class="monster-page-body py-32">
      <section class="details container-lg pb-32">
        <div class="row gy-4 gx-lg-5 row-cols-1 row-cols-lg-2">
          <div class="description col">
            <h2 class="font-russoOne">Description</h2>
            @if(monsterDetailsSpecies$ | async; as monsterDetailsSpecies){
              @if(pokemonFlavorTextList){
                <ul ngbNav #nav="ngbNav" [(activeId)]="activeFlavorTab" class="nav-tabs">
                  @for(pokemonFlavorText of pokemonFlavorTextList; track pokemonFlavorText){
                    <li [ngbNavItem]="$index" class="flex-grow-1">
                      <button ngbNavLink class="w-100 fw-bold font-orbitron theme-{{pokemonFlavorText.version.name}}">{{ pokemonFlavorText.version.name | uppercase }}</button>
                      <ng-template ngbNavContent>
                        <blockquote class="font-russoOne">
                          “{{ pokemonFlavorText.flavor_text }}”
                        </blockquote>
                      </ng-template>
                    </li>
                  }
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-16"></div>
              }
            }

            <h2 class="font-russoOne">Capacités spéciales</h2>
            @if(monsterDetails.abilities){
              <div ngbAccordion [closeOthers]="true">
                @for(pokemonAbility of monsterDetails.abilities; track pokemonAbility.ability.name){
                  <div ngbAccordionItem>
                    <h2 ngbAccordionHeader>
                      <button ngbAccordionButton>{{ pokemonAbility.ability.name }}</button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>Lorem ipsum</ng-template>
                      </div>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
          <div class="col">
            @let renderedStats = setCurrentGenerationStats(this.idPokeGen, monsterDetails.stats, monsterDetails.past_stats);
            @if (renderedStats) {
              <h2 class="font-russoOne">Stats</h2>
              <div class="row row-cols-2">
                @for (statGroup of renderedStats; track statGroup.stat.name) {
                  <div class="col py-8 font-russoOne">{{ statGroup.stat.name }}</div>
                  <div class="col">
                    <ngb-progressbar [showValue]="false" type="info" [value]="statGroup.base_stat" [max]="255">
                      {{ statGroup.base_stat }}
                    </ngb-progressbar>
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </section>

      <app-world-map [pokemonGeneration]="idPokeGen" [pokemonId]="idMonster" />
      @if(pokemonFlattenedEncountersList$ | async; as flattenedPokemonEncountersList){
        @if(flattenedPokemonEncountersList.length > 0){
          <div class="encounters-table container-lg overflow-x-auto py-32">
            <table class="encounters table overflow-x-auto">
              <thead>
                <tr>
                  <th scope="col">Zone</th>
                  <th scope="col">Version</th>
                  <th scope="col">Méthode</th>
                  <th scope="col">Niv.</th>
                  <th scope="col">Chance</th>
                  <th scope="col">Conditions</th>
                </tr>
              </thead>
              <tbody>
                @for(row of flattenedPokemonEncountersList; track row.zone.value){
                  <tr class="{{ $first ? '' : (!row.zone.hidden ? 'mt-32' : (!row.version.hidden ? 'mt-16' : 'mt-8')) }}">
                    <td *ngIf="!row.zone.hidden"
                        [attr.rowspan]="row.zone.rowspan"
                        data-label="Zone"
                        class="no-label fw-bold text-center">
                      {{ row.zone.value }}
                    </td>
                    <td *ngIf="!row.version.hidden"
                        [attr.rowspan]="row.version.rowspan"
                        data-label="Version"
                        class="game no-label fw-bold text-white bg-{{row.version.value}}"
                        [class.aaa]="row.version.rowspan && row.version.rowspan > 1">
                        {{ row.version.value | uppercase }}
                    </td>
                    <td data-label="Méthode">
                      @let iconPath = getEncounterIcon(row.method.value);
                      <div class="d-flex align-items-center gap-8 p-4px">
                        @if( iconPath !== ''){
                          <img [src]="iconPath">
                        }
                        {{ row.method.value }}
                      </div>
                    </td>
                    <td data-label="Niveaux">
                      {{ row.level.min_level }}
                      @if( row.level.min_level != row.level.max_level ){
                        - {{ row.level.max_level }}
                      }
                    </td>
                    @if(row.condition_values && row.condition_values.length > 0){
                      <td data-label="Chance">{{ row.chance.value }}</td>
                      <td data-label="Conditions">
                        <div class="d-flex">
                          @for(condition of row.condition_values; track condition.name){
                            <div class="flex-grow-1">{{ condition.name}}</div>
                          }
                        </div>
                      </td>
                    }
                    @else {
                      <td data-label="Chance" colspan="2">{{ row.chance.value }}</td>
                    }
                  </tr>
                }
              </tbody>
            </table>
          </div>
        }
        @else {
          <p class="mt-24">Pas de rencontres disponibles</p>
        }
      }@else {
        <p>Chargement...</p>
      }

    </main>
  }
</section>
