@font-face {
  font-family: "Orbitron";
  src: url("../../../../public/assets/fonts/Orbitron-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Pokemon-rs";
  src: url("../../../../public/assets/fonts/pokemon-rs.ttf");
}
