#kantoMap {
  --cell-width: 8px;
  --cell-height: 8px;
  background-image: url("../../../public/assets/img/maps/gen-i/kanto.png");
  background-repeat: no-repeat;
  tr {
    td {
      position: relative;
      width: var(--cell-width);
      height: var(--cell-height);
      // box-shadow: inset 0px 0px 0px 1px #00000013;
      aspect-ratio: 1;
      line-height: 1;
      font-size: 0;
      // span{
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   transform: translateX(-50%) translateY(-50%);
      //   font-size: 4px;
      //   color: blue;
      //   display: inline-block;
      //   min-width: 100%;
      //   min-height: 100%;
      // }
    }
  }
}
