.sprite-tile{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  &[encounterMethodName='walk'],
  &.grass{
    background-image: url("/assets/img/grass.png");
  }
}
