@use "../../../../../core/css/helpers/include-media" as *;

#monsterList {
  .monsterList-body{
    margin-top: 1.6rem;
    --bs-gutter-x: 48px;
  }
  .title {
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
  }
  .pokeList {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex-direction: column;
    @include media(">=tablet") {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
