@use "../../../../../core/css/helpers/include-media" as *;

#monsterList {
  .monsterList-body{
    margin-top: 1.6rem;
    --bs-gutter-x: 48px;
  }
  .title {
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
  }
  .pokeList {
    --bs-gutter-y: 1.5rem;
  }
}
