/* Importing Bootstrap SCSS file. */
// @use 'bootstrap/scss/bootstrap';
@use "app/core/css" as *;

html {
  font-size: 62.5%; /*font size 10px */
  body {
    font-size: 1.6rem;
  }
}

h1 {
  font-family: "Orbitron", sans-serif;
}


